@font-face{
    font-family: 'monsereg';
    src: url('../fonts/montserrat/Montserrat-Regular.ttf');
}

@font-face{
    font-family: 'monsebold';
    src: url('../fonts/montserrat/Montserrat-Bold.ttf');
}

@font-face{
    font-family: 'pfditalic';
    src: url('../fonts/playfairdisplay/PlayfairDisplay-Italic.ttf');
}

@font-face{
    font-family: 'ralereg';
    src: url('../fonts/raleway/Raleway-Regular.ttf');
}

@font-face{
    font-family: 'ralebold';
    src: url('../fonts/raleway/Raleway-Bold.ttf');
}

@font-face{
    font-family: 'ralesemi';
    src: url('../fonts/raleway/Raleway-SemiBold.ttf');
}

@font-face{
    font-family: 'klavika';
    src: url('../fonts/klavika/Klavika_bold.otf');
}

@font-face{
    font-family: 'robobold';
    src: url('../fonts/roboto/Roboto-Bold.ttf')
}