body{
    position: relative;
}

.hero{
    width: 100%;
    background-image: url('../imgs/hero1.png');
    min-height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    font-size: 1.2vw;
    margin-bottom: 285px;
}

.top-parent{
    width: 100%;
    display: flex;
    justify-content: center;
}

.top{
    width: 80%;
    min-height: 80px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    margin-top: 20px;
}

.title-a{
    color: #000;
    font-size: 2.4em;
    text-decoration: none;
    font-family: 'monsebold';
}

.top-ul{
    display: flex;
}

.top-a{
    color: #000;
    font-family: 'monsereg';
    font-size: 1em;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    padding: 6px 10px;
}

.top-a:hover{
    color: #fff;
    background-color: #00b0ff;
}

.social-ul{
    display: flex;
}

.social-li{
    margin: 0px 5px;
}

.social-img{
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: #000;
    padding: 10px;
    border-radius: 17px;
}

.dropdown{
    display: none;
}

.ride-we-parent{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 110px;
}

.ride-we{
    width: 60%;
    text-align: center;
}

.ride{
    color: #000;
    font-family: 'pfditalic';
    font-size: 3.2em;
    margin-bottom: 20px;
}

.we{
    color: #d4dee4;
    font-family: 'pfditalic';
    font-size: 1.6em;
}



/* surfboards */

.surfboard-parent{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 145px;
}

.surfboard{
    width: 70%;
    height: auto;
    font-size: 0.8vw;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    background: rgb(0,210,255);
    background: linear-gradient(127deg, rgba(0,210,255,1) 0%, rgba(15,213,255,1) 33%, rgba(255,255,255,1) 33%, rgba(255,255,255,1) 100%)
}

.sfboard-left{
    display: flex;
    align-items: center;
    width: 50%;
}

.surfs-ul{
    margin: 0px 40px;
}

.main-surf, .surfs-li-imgs{
    width: 100%;
    height: 100%;
}

.surfs-li-imgs{
    margin-bottom: 0.3em;
}

.surfs-li-imgs:hover{
    border: 0.3em solid #00b0ff;
}

.sfboard-right{
    display: flex;
    flex-direction: column;
    width: 40%;
}

.sfboard-title{
    color: #000;
    font-family: 'monsebold';
    font-size: 2em;
    margin-top: 40px;
    line-height: 1.3;
}

.rating{
    display: flex;
    margin: 10px 0px;
    font-size: 1.4em;
}

.rating *{
    margin: 0px 3px;
}

.sb-tabs-parent{
    margin-top: 20px;
}

.sb-tabs{
    display: flex;
}

.sb-tabs-li{
    font-family: 'monsebold';
    font-size: 1.4em;
    color: #a0a0a0;
    margin-right: 25px;
    cursor: pointer;
    border-color: 3px solid transparent;
    line-height: 2.6em;
}

.sb-tabs-li:hover{
    color: #000;
    font-size: 1.4em;
    margin-right: 25px;
    border-bottom: 3px solid #00b0ff;
    line-height: 2.2em;
}

div.hr{
    width: 100%;
    height: 1px;
    background-color: #d9d9d9;
    margin-top: -1px;
    margin-bottom: 25px;
}

.sb-tabs-desc{
    font-size: 1.6em;
    line-height: 1.5;
    color: #787878;
    font-family: 'ralereg';
    font-weight: 400;
}

.buy-section{
    display: flex;
    align-items: center;
    margin: 25px 0px 55px 0px;
}

.price{
    font-size: 2.4em;
    color: #000;
    font-family: 'monsebold';
    margin-right: 1.5em;
}

.price-button{
    font-family: 'monsebold';
    font-size: 1.4em;
    color: #fff;
    background-color: #00b0ff;
    padding: 1.5em 3.0em;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 15px;
}

.all-boards{
    font-size: 1.6em;
    font-family: 'monsereg';
    color: #00b0ff;
    font-weight: 600;
    margin-bottom: 40px;
}

.arrows{
    display: flex;
    max-height: 4.0em;
    position: absolute;
    right: -4.3em;
    top: 4em;
    z-index: 3;
}

.fa-arrow-left, .fa-arrow-right{
    font-size: 1.4em;
    color: #fff;
    background-color: #f2d800;
    padding: 1.2em;
}

.numer p{
    font-size: 1.4em;
    font-family: 'monsereg';
    padding: 1.2em;
    background-color: #000;
    color: #fff;
    font-weight: 500;
    max-height: 4.0em;
    position: absolute;
    top: 6.24em;
    right: 0;
}

/* About Us */

.about{
    width: 100%;
    background-image: url('../imgs/u1.png');
    min-height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    position: relative;
}

.about-left{
    background-color: #fff;
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.about-text{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-top: 95px;
}

.about-title{
    font-family: 'monsereg';
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

.x{
    font-family: 'monsereg';
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
    text-align: center;
}

.about-desc{
    font-family: 'pfditalic';
    font-size: 17px;
    margin: 32px 0px;
    line-height: 1.8;
    width: 80%;
}

.about-a{
    font-size: 16px;
    font-family: 'monsereg';
    color: #00b0ff;
    font-weight: 600;
    text-decoration: none;
    border-bottom: 2px solid #00b0ff;
    padding-bottom: 3px;
    width: 100px;
    margin-bottom: 40px;
}

.about-right{
    width: 50%;
    top: 50%;
    position: absolute;
    top: 55%;
    left: 50%;
}

.image-video{
    width: 60%;
    margin-left: 35px;
    position: relative;
}

.img-vid{
    width: 100%;
    height: 100%;
}

.fa-play-circle{
    font-size: 80px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fa-play-circle:hover{
    color: #00b0ff;
}

/* team */

.team{
    width: 60%;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position: relative;
    font-size: 10px;
}

.team-items{
    position: absolute;
    width: 27%;
    background-color: #fff;
    box-shadow: 10px 10px 30px 0.2px #eeeeee;
    text-align: center;
    border-radius: 5px;
}

.team-items:hover{
    background-color: #00b0ff;
    z-index: 3;
}

.team-items:hover .team-title{
    color: #fff;
}

.team-items:hover .team-insta{
    color: #b3e7ff;
}

.team-items:hover .caret{
    color: #0022ff;
}

.team-items:hover .team-location-p{
    color: #b3e7ff;
}

.team-items:hover .fa-map-marker-alt{
    color: #b3e7ff;
}

.t1{
    top: 0;
    left: 0;
    z-index: 1;
}

.t2{
    top: 25px;
    left: 24.3%;
    z-index: 2;
}

.t3{
    top: 0;
    left: 48.67%;
    z-index: 1;
}

.t4{
    top: 25px;
    left: 73%;
    z-index: 2;
}

.item-img{
    margin-top: 25px;
    margin-bottom: 10px;
    height: 100%;
}

.team-title{
    font-size: 1.8em;
    font-family: 'monsereg';
    color: #00b0ff;
    font-weight: 600;
}

.team-insta{
    font-size: 1.4em;
    font-family: 'ralereg';
    line-height: 2.2;
    color: #8c8c8c;
}

.caret{
    color: #646464;
    font-size: 0.7em;
    font-weight: 900;
    margin: 15px auto;
    font-family: 'ralebold';
    letter-spacing: 0;
}

.team-location{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.fa-map-marker-alt{
    color: #d9d9d9;
    font-size: 1.4em;
    margin-right: 5px;
}

.team-location-p{
    color: #8c8c8c;
    font-size: 1.4em;
    font-family: 'ralereg';
}

/* Blog */

.blog{
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 530px;
    display: flex;
    flex-direction: column;
    font-size: 10px;
}

.blog-title{
    text-align: center;
    font-size: 1.8em;
    font-family: 'monsereg';
    font-weight: 600;
    text-transform: uppercase;
    line-height: 2.3;
    letter-spacing: 3px;
}

.blog-items{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 40px;
}

.blog-li{
    width: 31%;
    font-size: 10px;
}

.blog-img{
    width: 100%;
    height: auto;
}

.blog-desc{
    width: 85%;
    margin: 20px auto;
    font-size: 1.6em;
    font-family: 'ralereg';
    line-height: 1.5;
    color: #787878;
}

.blog-li:hover .blog-desc{
    color: #0022ff;
}

.blog-li:hover{
    box-shadow: 8px 8px 30px 10px #DBDBDB;
}

.blog-p{
    width: 100%;
    display: flex;
    justify-content: center;
}

.blog-link{
    text-transform: uppercase;
    color: #fff;
    background-color: #00b0ff;
    padding: 17px 30px;
    text-decoration: none;
    font-family: 'monsebold';
    font-size: 16px;
}

/* instagram */

.instagram-section-2{
    display: none;
}

.instagram-section{
    position: absolute;
    width: 30%;
    bottom: 55%;
    left: 15%;
}

.insta-imgs{
    width: 50%;
    height: 100%;
    margin: -2px 0px;
}

.insta-footer{
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.fa-instagram{
    font-size: 30px;
    line-height: 2.2;
    color: #00b0ff;
    margin: 0px 21px;
}

.insta-title{
    text-transform: uppercase;
    color: #00b0ff;
    font-family: 'robobold';
    margin-right: 20px;
}

.insta-p{
    font-size: 16px;
    font-family: 'ralereg';
}

/* footer */

.footer{
    width: 100%;
    background-color: black;
    display: flex;
    position: relative;
}

.footer-left{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.copyrigth{
    color: #4d4d4d;
    font-family: 'ralebold';
    font-size: 13px;
}

.footer-right{
    width: 50%;
}

.footer-nav{
    display: flex;
    margin-top: 50px;
    margin-bottom: 100px;
    flex-wrap: wrap;
}

.footer-ul-1{
    width: 175px;
}

.left-li-a{
    color: #fff;
    font-family: 'ralereg';
    font-size: 14px;
    text-decoration: none;
    line-height: 2.2;
    font-weight: 600;
}

.left-li-a::before{
    content: "˄˄˄";
    color: #f2d800;
    font-weight: bold;
    letter-spacing: 0;
    font-size: 11px;
    margin: 0px 10px;
}

@media only screen and (max-width: 960px){
    .hero{
        font-size: 14px !important;
        margin-bottom: 100px !important;
    }

    .top{
        display: flex;
        flex-direction: column;
    }

    .top *{
        margin: 5px 0px;
    }

    .ride{
        font-size: 2.857em !important;
    }

    .we{
        font-size: 1.425em !important;
    }

    .surfboard{
        display: flex;
        flex-direction: column;
        font-size: 1.1vw !important;
    }

    .sfboard-left{
        margin: 2em auto;
        width: 70% !important;
    }

    .sfboard-right{
        width: 75% !important;
        margin: 0 auto;
        position: unset;
    }

    .about-left{
        width: 50% !important;
    }

    .about-text{
        width: 80% !important;
        display: flex !important;
        margin-top: 40px !important;
    }

    .x{
        margin-top: 10px !important;
    }

    .about-desc{
        margin: 15px 0px !important;
    }

    .about-right{
        position: unset !important;
        display: flex !important;
        justify-content: center !important;
        padding-bottom: 10% !important;
    }

    .image-video{
        width: 95% !important;
        margin: 0 !important;
    }

    .team{
        width: 80% !important;
        font-size: 8px !important;
    }

    .blog{
        width: 80% !important;
        margin-bottom: 100px !important;
    }

    .instagram-section-2{
        display: block !important;
        width: 50% !important;
        margin-left: auto !important;
        margin-right: auto !important;
        box-shadow: 10px 10px 30px 0.2px #eeeeee !important;
        margin-bottom: 40px !important;
    }

    .instagram-section{
        display: none !important;
    }
}

@media only screen and (max-width: 720px){
    .hero{
        font-size: 14px !important;
        margin-bottom: 40px !important;
    }

    .top{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .top-ul, .social-ul{
        display: none !important;
    }

    .dropdown{
        display: flex !important;
    }

    .dropdown-a{
        display: flex;
        text-decoration: none;
        color: #000;
        font-size: 2em;
        font-family: 'monsebold';
    }

    .dropdown-a *{
        margin: 0px 5px;
    }

    .surfboard{
        font-size: 1.7vw !important;
        width: 80% !important;
    }

    .sfboard-left{
        display: flex !important;
        flex-direction: column !important;
    }

    .surfs-ul{
        display: flex !important;
        justify-content: space-around !important;
        flex-wrap: wrap !important;
        width: 100% !important;
    }

    .surfs-li{
        width: 35% !important;
        margin-top: 20px;
    }

    .about-left{
        width: 40% !important;
        display: flex !important;
        justify-content: center !important;
    }

    .about-text{
        width: 90% !important;
    }

    .about-title{
        font-size: 13px !important;
    }

    .x{
        font-size: 10px !important;
    }

    .about-desc{
        width: 95% !important;
        font-size: 13px !important;
    }

    .about-a{
        font-size: 11px !important;
    }

    .about-right{
        width: 60% !important;
    }

    .team{
        width: 95% !important;
    }

    .blog{
        width: 95% !important;
    }

    .footer{
        display: flex !important;
        flex-direction: column !important;
    }

    .footer-left, .footer-right{
        margin-left: auto;
        margin-right: auto;
    }

    .footer-ul-1{
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .copyrigth{
        margin-top: 90px;
    }
}

@media only screen and (max-width: 540px){
    .hero{
        font-size: 14px !important;
    }

    .title-a{
        font-size: 1.8em !important;
    }

    .dropdown-a{
        font-size: 1.4em !important;
    }

    .surfboard{
        width: 80% !important;
        font-size: 2.3vw !important;
    }
    
    .about{
        display: flex !important;
        flex-direction: column !important;
        align-items: unset !important;
        justify-content: unset !important;
    }

    .about-left{
        width: 90% !important;
        margin-top: 50% !important;
    }

    .about-right{
        display: flex !important;
        justify-content: flex-end !important;
        width: 100% !important;
    }

    .image-video{
        float: right !important;
        width: 80% !important;
    }

    .team{
        width: 90% !important;
        height: 700px !important;
        position: relative !important;
        font-size: 9px !important;
    }

    .team-items{
        width: 51% !important;
        position: absolute !important;
    }

    .t1{
        left: 0 !important;
        top: 0 !important;
    }

    .t2{
        left: 49% !important;
        top: 30px !important;
    }

    .t3{
        left: 0 !important;
        top: 300px !important;
    }

    .t4{
        left: 49% !important;
        top: 330px !important;
    }

    .blog-items{
        display: flex !important;
        flex-wrap: wrap !important;
        justify-content: space-around !important;
    }

    .blog-li{
        width: 45% !important;
        margin-top: 20px !important;
    }

}

@media only screen and (max-width: 380px){
    .blog-items{
        display: flex !important;
        justify-content: center !important;
    }

    .blog-li{
        width: 80% !important;
    }
}