.par1 {
  background-color: blueviolet;
  width: 500px;
  height: 500px; }
  .par1 .par2 {
    background-color: aqua;
    width: 300px;
    height: 300px; }
    .par1 .par2 .par3 {
      background-color: palevioletred;
      width: 250px;
      height: 250px; }
